{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form> <p>
    <p> Click <a href="{{ url_for('home') }}">here</a> to return to home.</p>
{% endblock %}
